@import url('https://fonts.googleapis.com/css?family=Orbitron');


* {
  box-sizing: border-box;
}

body {
  background-color: rgb(174, 160, 160);
}

h1 {
  text-align: center;
  border: 3px solid black;
  height: 90px;
  padding: 20px;
  background-color: rgb(85, 85, 82);
  /* margin-top: 25px; */

}

h2 {
  text-align: center;
  border: 3px solid black;
  background-color: rgb(85, 85, 82);
  height: 90px;
  padding: 20px;
  font-size: x-large;
  font-weight: bold;
}


.home-link {
  text-decoration: none;
  color: black;
  background-color: rgb(85, 85, 82);
  font-size: x-large;
  margin-left: 90%;
  border: 3px solid black;
  padding: 15px;
}

.win-loss-list {
  font-size: x-large;
  margin-left: 43%;
}

ul {
  font-size: x-large;
}

.about-list {
  padding-left: 0px;
}


.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.high-score,
.about-us {
  border: 3px solid black;
  background-color: rgb(85, 85, 82);
  padding: 25px;
  font-weight: bold;
  font-size: x-large;
}


.about-us {
  margin-left: 250px;
}

a {
  color: black;
  text-decoration: none;
}

.flex-container {
  display: flex;
  justify-content: space-between;
}

.about-section {
  border: 3px solid black;
  background-color: rgb(85, 85, 82);
  padding-top: 50px;
  font-weight: bold;
  font-size: x-large;
  height: 150px;
  text-align: center;
}

.idk {
  border: 3px solid black;
  background-color: rgb(85, 85, 82);
}

/*For game.html*/
.gameContainer {
  display: grid;
  grid-template-columns: 120px 120px 120px 120px 120px 120px 120px 120px;
  grid-template-rows: 120px 120px 120px 120px 120px 120px 120px 120px;
  justify-content: center;
  background-color: black;
  width: 960px;
  height: 960px;
  margin-left: auto;
  margin-right:auto;
  margin-top: 100px;
  box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.4);

}

.gameContainer div:not([content]) {
  background-color: white;
}

.gameContainer div {
  border: 2px solid black;
}

.playable {
  background-color: black;
  inset: 80px black;

  justify-content: center;
}

.playable[content="p1Chip"] {
  background-color: gray; /* <--- need to pass this color in JS*/
  height: 50px;
  width: 50px;
  margin:auto;
  border: 2px solid white;
  border-radius: 50%;
}

.playable[content="p2Chip"] {
  background-color: rgb(154, 81, 81); /* <--- need to pass this color in JS*/
  height: 50px;
  width: 50px;
  margin:auto;
  border: 2px solid white;
  border-radius: 50%;
}

.gameHeader {
  display: flex;
  justify-content: space-between;

}

.gameHeader div {
  background-color: white;
  font-family: 'Orbitron', sans-serif;
  color: black;
  font-size: 30px;
  text-align: center;
  padding: 50px;
  width: 200px;
  border-bottom-left-radius: 30px;
  box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.4);
}

.gameHeader #home {
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 0;
}

#timer {
  font-family: 'Orbitron', sans-serif;
  color: black;
  font-size: 56px;
  text-align: center;
  background-color: rgb(255, 255, 255);
  padding: 30px;
  width: 300px;
  border-bottom-right-radius: 30px;
}

